notebook/PBS2023-PUBLICIS-URD-FR.pdf
notebook/detect_api_in_google_colab.ipynb
notebook/texts_file.csv
notebook/texts_file.pkl
.DS_Store

# API : environnement de dev
esg-api/.venv
esg-api/.env
esg-api/.envrc

