PYTHONPATH=.:src
HF_TOKEN=my-hugging-face-token
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
JWT_SECRET_KEY=my-very-secret-key
FLASK_ENV=production

# IA v2 : accès API Scaleway
SCW_API_KEY=scaleway-uuid
SCW_BASE_URL=https://api.scaleway.ai/un-autre-uuid/v1
